#package-viewer {
    overflow: scroll;
}

#package-viewer-button {
    content: "";
    background: url(package-grey.png);
}

#package-viewer-button.checked {
    background: url(package-blue.png);
}


.package h1,
.package h2,
.package h3,
.package h4 {
    display: inline-block;
}
